/*.fontSize {
/*font-size:15px;*/
/*height:30px;*/
/*width:180px;*/
/*height:25px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px;
}*/


/*.buttonFileUpload {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin: 10px 0;
    padding: 5px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 60ms ease-in-out;
    transition: all 60ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
    border-color : #2989d8;
  background: #2989d8;
  background: -moz-linear-gradient(top, #2989d8 0%, #1e5799 100%);
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#2989d8), color-stop(100%,#1e5799));
  background: -webkit-linear-gradient(top, #2989d8 0%,#1e5799 100%);
  background: -o-linear-gradient(top, #2989d8 0%,#1e5799 100%);
  background: -ms-linear-gradient(top, #2989d8 0%,#1e5799 100%);
  background: linear-gradient(top, #2989d8 0%,#1e5799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 );

}*/

/*.uploaderbrowsebutton, .uploadercancelbutton, button {
color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
  width:90px;
height:35px;
/*font-size:12px;
font-family:Arial;  

}*/

 .gvHeaderStyle{
Font-Size:12px;
 Color:black;
 }
 .gvItemStyle{
     Font-Size:11px;
 Color:black;
 }

.buttonStyle {

width:90px;
height:35px;
/*font-size:12px;*/
font-family:Arial;    

}

.largeButtonStyle {

width:90px;
height:30px;
font-size:12px;
font-family:Arial;    

}
.largeButtonStyle2 {

width:161px;
height:30px;
font-size:12px;
font-family:Arial;    

}


.buttonStyle2 {

width:70px;
height:30px;
font-size:12px;
font-family:Arial;    

}


.buttonStyle3 {

width:78px;
height:35px;
/*font-size:12px;*/
font-family:Arial;    

}

.smallButtonStyle {

width:75px;
height:35px;
/*font-size:12px;*/
font-family:Arial;    

}

.smallButtonStyle1 {

width:73px;
height:35px;
/*font-size:12px;*/
font-family:Arial;    

}


 .AddbuttonStyle{
width:60px;
height:35px;
/*font-size:12px;*/
font-family:Arial;    

 }   
 .buttonStyle a {
   
    }

  .mark {color:red;}

/*.redMark {
color:red;

}*/

.required{
     color:red;
}


.panelHead {
background-color:#ecf0f3;
font-size:12px;
color:black;
}

.tabfont {
font-size:12px;
color:black;
font-weight: bold;
}

.panelView {
background-color:#ecf0f3;
}
.panelTop {
margin-top:10px;

}

.labelColor {
    color:black;

}
.lblsize
{
    font-size:14px;
    padding-top:8px;
}

.DdStyle {
overflow-y:auto;
height:100px;
}
    /*.DdStyle a {
    height:100px;
    }*/
  



.formDisplay{display:block;width:100%;height:30px;padding:3px 12px;font-size:11px;line-height:1.42857143;color:black;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}

.formDisplay:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.formDisplay::-moz-placeholder{color:#999;opacity:1}.formDisplay:-ms-input-placeholder{color:#999}
    .formDisplay::-webkit-input-placeholder{color:#999}.formDisplay::-ms-expand{background-color:transparent;border:0}
    .formDisplay[disabled],.formDisplay[readonly],fieldset[disabled] .formDisplay{background-color:#eee;opacity:1}
    .formDisplay[disabled],fieldset[disabled] .formDisplay{cursor:not-allowed}textarea.formDisplay{height:auto}input[type=search]{-webkit-appearance:none}


